ADMIN=XXX
RESERVE_WALLET=XXX
AUTHORITY_WALLET=XXX
BASE_URI=XXX
SOUL_NAME_CONTRACT_URI=XXX
PAYMENT_METHODS_SOULBOUNDCREDITSCORE=XXX XXX XXX
PAYMENT_METHODS_SOULBOUNDGREEN=XXX XXX XXX
PAYMENT_METHODS_SOULFACTORY=XXX XXX XXX
PAYMENT_METHODS_SOULLINKER=XXX XXX XXX
PAYMENT_METHODS_SOULSTORE=XXX XXX XXX
SWAP_ROUTER=XXX
USDC_TOKEN=XXX
MASA_TOKEN=XXX
WETH_TOKEN=XXX
STABLECOIN_DECIMALS=6
