.github/
artifacts/
!artifacts/contracts/reference/ReferenceSBTAuthority.sol/ReferenceSBTAuthority.json
!artifacts/contracts/reference/ReferenceSBTSelfSovereign.sol/ReferenceSBTSelfSovereign.json
cache/
deploy/
docs/
metadata/
node_modules/
src/
test/
typechain/
.env.*
.gitattributes
.npmignore
.prettierignore
.prettierrc
.solhint.json
CHANGELOG.md
**/solcInputs/
